body {
  color: #03cafc;
  border: 15px solid #03cafc;
  border-style: groove;
  background-color: rgb(86,242,78);
  }

.bluedot {
  color: blue;
  border: 5px dotted black;
  font-size: 25px;

}

.vacapic {
  height: 350px;
  margin-top: 100px;
  box-shadow: 10px 20px #03cafc;
  border-radius: 20px;
}

.picborder {
  box-shadow: 10px 20px #03cafc;
  border-radius: 20px;
}

#logo {
  font-family: 'Butterfly Kids', cursive;
}

#messedup{
  height: 500px;
  width: 40px;
}
